.sidebar {
  position: fixed;
  top:55px;
  left: 0;
  bottom: 0;
  width: 72px;
  background-color: white;
  z-index: 200;
  padding-top: 5px;
}
.sidebar-link {
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sidebar-link:hover {
  background-color: rgb(240, 240, 240);  
}
.sidebar-link img {
  height: 24px;
  margin-bottom: 7px;
}
.sidebar-link {
  font-family: 'Roboto', Arial;
  font-size: 10px;
} 